body {
    background-color: #fafafa; 
}

.bario{
    width: 60px;
    height: 70px;
    background-image: url(/bario-gamer/img/bario.png);    
    position: absolute;
    bottom: 0;
    
}

.cano {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    
    background-image: url(/bario-gamer/img/cano.png);
}

.gamer-over {
    text-align: center;
    color: #666;
    margin-top: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slidright{
    from{
        background-position: 70000;
    }
    to{
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0px;
    background-repeat: repeat-x ;
    background-image: url(/bario-gamer/img/bg_bario.jpg);
    animation: slidright 600s infinite linear ;
    -webkit-animation: slideright 600s infinite linear;
    width: 250%;
    height: 650px;
}

